body
{
        background-image: url("../asset/Images/back.jpg")  
}   
p
{
    font-family: 'Arial', Helvetica, sans-serif;
    size: 40px;
    color :black
}
#logo
{
    font-style: italic;
}
label
{
display : inline-block;
width  : 140px;
text-align: justify
}