<div>
    <div id="hom"></div>
    <link rel="stylesheet" href="../asset/stylesheet.css">
    <div>
        <p> ChatApp <img src="../asset/Images/images.png" alt="image not found" height=":20px" width="20px"> </p>
    </div>

    <center>
        <form>
            <div id="design">
                <p> Welcome to Home Page </p>
            </div>
        </form>
    </center>

    <div id="log">
       <a href = #/Login> <button type="button " value=" Logout"> Logout </button></a>
    </div>
    <div id="user">
      <h3> Contacts </h3> 
        <hr size="4" color="green">
        <div id="vl">
        </div>
        &nbsp
        <div id="header">

        </div>

    </div>



</div>