<div>
    <div id="hom"></div>
    <link rel="stylesheet" href="../asset/stylesheet.css"> 
    <div>
        <p> ChatApp <img src="../asset/Images/images.png" alt="image not found" height=":20px" width="20px"> </p>
    </div>
    <center>
        <form>
            <div id="design">
                <p> Welcome to Home Page </p>
            </div>
        </form>
    </center>
    <div id="log">
        <a href=#/Login> <button type="button " value=" Logout"> Logout </button></a>
    </div>
    <center>
        <div id="container">
            <div id="area">
                <div id="leftarea">
                    <div id="users">
                        <div id="design2">
                            <center>
                                <p>
                                    <font Color="white">Contacts</font>
                                </p>
                            </center>
                        </div>
                        <hr>

                        <div id="design5">
                            <div>
                                <div id="col">
                                    <ol>
                                        <li ng-repeat="key in arr">
                                            <font color="black"> &nbsp{{key}}</font>
                                            <hr>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="rightarea">
                    <div id="messagebox">
                        <div id="design1">
                            <center>
                                <h3>
                                    <p>Message Box </p>
                                </h3>
                            </center>
                        </div>
                        <hr>
                        <div id="design4">
                        </div>
                    </div>
                    <div id="typing">
                        <div id="typingmessage">
                            <div id="type">
                                <textarea rows="6" cols="81" placeholder="Type Your Message"></textarea></div>
                            <div id="input"></div>
                        </div>
                        <div id="send">
                            <button type="Send" value="Send"> Send </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>