<!DOCTYPE html>
<html>
<head> 
    <title> Login Page </title>
</head> 
<body>
<div>
    <link rel="stylesheet" href="../asset/stylesheet.css"> 
   
        
<div> 
        <p> ChatApp <img src="../public/template/images.png" alt="image not found" height=":50px" width="50px"> </p>
    </div>
<center>
    <br><br><br><br>
    <p>
        <h1>
            <p>Login</p>
        </h1></b>
    </p>
    <form>
        <p style="font-family: 'Arial'">EMAIL ID : <input type="text" placeholder=" emailid" required></p>
        <br>
        <p style="font-family: 'Arial '"> PASSWORD : <input type="password" placeholder="password" required></p>
        <br>
        <button type="button">Login</button>
        <br>
        <div id="g">
                <a href="#!/Registration" ><br> <button type="button"> Sign Up</button> </a>
            </div>
    </form>
</center> 
</div>
</body> 

</html>