<!-- <!DOCTYPE html> -->
<!-- <html> -->

<!-- <head>
    <title> Login Page </title>
</head> -->

<!-- <body> -->
<div>
    <link rel="stylesheet" href="../asset/stylesheet.css">


    <div>
        <p> ChatApp <img src="../asset/Images/images.png" alt="image not found" height=":50px" width="50px"> </p>
    </div>
    <center>
        <br><br><br>
        <p>
            <h1>
                <p>Login</p>
            </h1></b>
        </p>
        <form>
            <!-- <fieldset>
                    <Legend> Login Page  </Legend>
                -->
            <p style="font-family: 'Arial'"> <label>EMAIL ID </label> : <input type="text" placeholder=" emailid" ng-model="user.email" required></p>
            <br>
            <p style="font-family: 'Arial'"> <label>PASSWORD</label> : <input type="password" placeholder="password" ng-model="user.password" required></p>
            <br>
            <button type="button">Login</button>
            <br>
            <a href="#/Registration"><br> <button type="button" ng-click = "login()"> Sign Up</button> </a>
            <!-- </fieldset> -->
        </form>
    </center>
</div>
<!-- </body>

</html> -->