<!DOCTYPE html>
<html>

<head>
    <title> Chat Application </title>
</head>

<body>
    <div>

        <div id="logo">
            <p>ChatApp <img src="../public/template/images.png" alt="image not found" height=":50px" width="50px"> </p>
        </div>
        <link rel="stylesheet" href="../asset/stylesheet.css">
        <center>
            <h1>
                <p>NEW REGISTRATION </p>
            </h1>
            <h3>
                <p>ACCOUNT CREATION </p>
            </h3>
            <br>
            <form>
                <p>FIRST NAME : <input type="text" placeholder="FIRSTNAME" required></p>
                <br>
                <p>LAST NAME : <input type="text" placeholder="LASTNAME" required></p>
                <br>
                <p>MAIL ID : <input type="text" placeholder="jeeva@gmail.com" required></p>
                <br>
                <p>PHONE NUMBER : <input type="number" placeholder="PHONE NUMBER"></p>
                <br>
                <p>CREATE PASSWORD : <input type="password" placeholder="Password" required></p>
                <br>
                <button type="Reset" value=>Reset </button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a href='#!/Login'> <button type="button"> Submit</button> </a>
                <br><br>
            </form>
        </center>
</body>
</div>

</html>