<!DOCTYPE html>
<html>

<head>
    <title> Chat Application </title>
</head>
<link rel="stylesheet" href="/home/bridgeit/Documents/ChatApp/public/asset/stylesheet.css">
<p>ChatApp <div class="header"><img src="/home/bridgeit/Documents/ChatApp/public/template/images.png"> </div>
</p>

<body>
    <center>
        <h1>
            <p>NEW REGISTRATION </p>
        </h1>
        <h3>
            <p>ACCOUNT CREATION </p>
        </h3>
        <br>
        <form>
            <p>FIRST NAME : <input type="text" placeholder="FIRSTNAME"></p>
            <br>
            <p>LAST NAME : <input type="text" placeholder="LASTNAME"></p>
            <br>
            <p>MAIL ID : <input type="text" placeholder="MAILID"></p>
            <br>
            <p>PHONE NUMBER : <input type="text " placeholder="PHONE NUMBER"></p>
            <br>
            <p>PASSWORD : <input type="password" placeholder="Password"></p>
            <button type="Reset" value=>Reset </button>
            <a href='Login.html'> <button type="button" value=> Submit </button> </a>
            <br><br>
        </form>
    </center>
</body>

</html>