<div>

    <div id="logo">
        <p>ChatApp <img src="../asset/Images/images.png" alt="image not found" height=":20px" width="20px"> </p>
    </div>
    <link rel="stylesheet" href="../asset/stylesheet.css">
    <center>
        <h1>
            <p>NEW REGISTRATION </p>
        </h1>
        <h3>
            <p>ACCOUNT CREATION </p>
        </h3>
        <br>

        <form >
            <!-- <fieldset>
                        <legend> Sign up </legend> -->

            <p><label>FIRST NAME</label> : <input type="text" placeholder="FIRSTNAME" ng-model="user.firstname" required></p>
            <br>
            <p><label>LAST NAME</label> : <input type="text" placeholder="LASTNAME" ng-model="user.lastname" required></p>
            <br>
            <p> <label>MAIL ID</label> : <input type="email" placeholder="ex : jeeva@gmail.com" ng-model="user.email" required></p>
            <br>
            <p><label>PHONE NUMBER</label> : <input type="number" placeholder="PHONE NUMBER" ng-model="user.mobile "required></p>
            <br>
            <p><label>CREATE PASSWORD</label> : <input type="password" placeholder="Password" ng-model="user.password" required></p>
            <br>
            <button type="Reset" value= "Reset">Reset </button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button  type="submit" value = "Submit" ng-click = "register()" > Submit </button>
            <br><br>
        </form>
            <a href = "#/Login"> Click Here For existing Account </a> 
            <br><br>
            <p>{{message}}</p>
            <!-- </fieldset> -->
      

    </center>
    <!-- </body> -->
</div>